# Lombok configuration for Eclipse JDT.LS
config.stopBubbling = true
lombok.anyConstructor.addConstructorProperties = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Autowired
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.stereotype.Component
lombok.copyableAnnotations += org.springframework.stereotype.Service
lombok.copyableAnnotations += org.springframework.stereotype.Repository
lombok.copyableAnnotations += org.springframework.stereotype.Controller
lombok.copyableAnnotations += org.springframework.web.bind.annotation.RestController
lombok.copyableAnnotations += org.springframework.boot.autoconfigure.SpringBootApplication